* {
    box-sizing: border-box;
}


body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0%;
    padding: 0%;
}

.navbar {
    background-color: aqua;
    color: azure;
    
}

.row {
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  .column {
    flex: 50%;
    padding: 5px;
  }

  .projectdescription {
      font-family: Arial, Helvetica, sans-serif;
  }